[user]
	email = tm@tlater.net
	name = Tristan Maat

[filter "text-aid-too"]
	clean = "sed -e 's/^Environment=\"TEXT_AID_TOO_SECR.*/#Environment=;P/'"

[push]
	default = simple

[alias]
	ignore = "!ign() { cd \"$GIT_PREFIX\"; for file in $@; do echo \"$file\" >> .gitignore; done; }; ign"

[core]
	editor = "emacs"
