$thumbcolor = #091f2e

::-webkit-scrollbar
  width 12px

  &-track
  &-track-piece
    background transparent

  &-thumb
    background $thumbcolor
    -webkit-border-radius 12px

  &:hover
    color black