foreground = #99d1ce
background = #0f0f0f
background_hover = #091f2e
filter_png(arg)
  -webkit-filter sepia(100%) hue-rotate(136deg) saturate(138%) brightness(arg)

body
  background-color background

#main a
  font-size 16px
  font-family "Sans-serif"
  color foreground

  &:hover
    background-color background_hover
    color foreground
    box-shadow none

.folder
  font-weight bold

  & .icon
    filter_png 171%

.devices
  & .icon
    filter_png 87%

#options_button
  opacity 0
