[Desktop Entry]
Name=Yubico Authenticator
GenericName=Yubico Authenticator
# Changed the exec path; this was hard-coded
Exec=yubioath-flutter
# Changed the icon path; this was hard-coded
Icon=yubioath
Type=Application
Categories=Utility;
Keywords=Yubico;Authenticator;
