/* youtube_main.styl
   Part of the exwm cyan style

   Author: Tristan Maat <tm@tlater.net>
*/
@require 'colors'

/* Generic colors */
body
  background back

a
  color font_color

button
  &:focus
    outline 1px solid accent

h1.yt
  color font_color
/* Masthead */
#yt-masthead-container
#masthead-appbar
  background back
  border-bottom 2px solid highlight

// Youtube logo
#yt-masthead #logo-container .logo
  -webkit-filter invert(100%) hue-rotate(56deg) saturate(200%) brightness(100%)

// Search bar
#masthead-search
  .search-btn-component .yt-uix-button-content
    recolor_black_png 2000%

// Guide button
.yt-legacy-css #masthead-positioner:hover #appbar-guide-button
  background highlight
  border-color highlight_back
  .yt-uix-button-arrow
    border-top-color accent

.show-guide
  .yt-uix-button-icon-appbar-guide
    &
    #masthead-positioner:hover
      recolor_red_png 100%
  #appbar-guide-button
    .yt-uix-button-arrow
      border-top-color accent

// Bell-button
#yt-masthead-user .yt-uix-button-icon-bell
  recolor_black_png 200%

// Youtube center button
#masthead-user-button img
  -webkit-filter sepia(100%) hue-rotate(136deg) saturate(100%) brightness(83%)

/* Guide */
#appbar-guide-menu
.guide-flyout
  background highlight

.guide-pinned .guide-pinning-enabled #appbar-guide-menu
.guide-flyout
  border 2px solid highlight_back

.guide-item
.guide-view-more
  color font_color
  &:hover
    &
    .yt-deemphasized-text
    /.guide-flyout-trigger.on-hover
    /.guide-collapsible-item .yt-uix-expander-head:hover
      background highlight_back
  .guide-count
    color font_color
  &.guide-item-selected
    &
    .yt-deemphasized-text
      &
      &:hover
        background highlight_back

.guide-item .thumb.yt-sprite
  recolor_gray_png 100%

li.guide-section h3 a
  color accent

.guide-section-separator
  border-bottom 2px solid highlight_back

.yt-uix-button-icon-hover-action-menu
  -webkit-filter invert(100%) sepia(100%) saturate(169%) hue-rotate(150deg) brightness(140%)

/* Footer */
body #footer-container
  background-color back
  &
  #footer-main
    border-color highlight
    border-width 2px

#footer-logo .footer-logo-icon
  recolor_red_png 100%

// This doesn't seem to work yet
//#footer .yt-uix-button-icon
//  recolor_gray_png 100%

#footer-links-primary a
#footer-links-secondary a
#footer-links-secondary .copyright
  color font_color
  &:hover
    color font_color_back

/* Various UI elements */
// Cards
.yt-card
  background-color highlight

// Epic nav item
.epic-nav-item
  &
  &.selected
  &.yt-uix-button-toggled
  &-heading
    color font_color
    border-color accent

.yt-uix-button.yt-uix-button-epic-nav-item
  color font_color_back
  button&
  #appbar-nav &
  a&
    color font_color_back
    &.partially-selected
      color font_color
      border-color accent
    &:hover
      border-color accent

// UIX buttons
.yt-uix-button-default
  background highlight
  border-color highlight_back
  &.yt-uix-button-active
  &.yt-uix-button-active:focus
    background highlight
    border-color highlight_back
    box-shadow inset 0 1px 0 highlight_back
  &
  /.yt-uix-button-text
    color accent
    &:hover
      background highlight
      border-color highlight_back
  &:hover
  &:focus
    background highlight_back
    border-color highlight_back
    box-shadow none
  &[disabled]
    &
    &:hover
    &:active
    &:focus
      background highlight_back
      border-color highlight_back
  .yt-uix-button-icon
  &:before
    recolor_black_png 147%

.yt-uix-button-primary
  background-color accent
  border-color highlight
  &:hover
    background-color accent_back
    .yt-uix-button-content
      color font_color
  .yt-uix-button-content
    color highlight_back
  &[disabled]
    &
    &:hover
    &:active
    &:focus
      background-color accent
      border-color highlight

// uix button menu
.yt-uix-button-menu
  background-color highlight
  border-color highlight_back
  & &-item
    background-color highlight
    color font_color
    border-color highlight_back
    &:hover
      background-color highlight_back
      color white

// Channel verify button
.yt-channel-title-icon-verified
  recolor_gray_png 100%

// Checkbox button
.yt-uix-checkbox-on-off
  label
    background highlight_back
  input[type=checkbox]
    &:checked+label
      background accent

// Popup menus
.yt-ui-menu
  &-content
    background highlight
    border 2px solid highlight_back
  &-item
    color font_color
    &:hover
    &:focus
    .yt-uix-menu-trigger-selected &
      background-color highlight_back

/* Notification menu (iframe) */
body.Vzc
  background-color transparent

/* Scrollbars */
.yt-scrollbar
.yt-scrollbar-dark
  ::-webkit-scrollbar-thumb
    background accent_back
    &:hover
      background font_color_back

  ::-webkit-scrollbar-track
    background transparent
    border none
    -webkit-box-shadow none

  ::-webkit-scrollbar-track-piece
    background transparent
