/* youtube_comments.styl
   Part of the exwm cyan style

   Author: Tristan Maat <tm@tlater.net>
*/
@require "colors"

.all-comments
  &
  a
    color font_color
    background-color highlight

.display-message
  color font_color



.comments
  .comment-header
    .user-name
      color font_color
      font-weight bold
      background-color transparent
      &:hover
        text-decoration underline
    .time
      a
        color font_color_back

  .comment-replies-header
    color font_color

  .channel-owner .comment-header .user-name
    background-color highlight_back

  .comment-text
    .comment-text-content
      color font_color

  .comment-footer-action
  .separator
    color font_color

  .sprite_like
  .sprite_dislike
    recolor_black_png 100

  .feedback-banner
    background-color highlight_back
    border-color highlight_back

  .paginator
    &
    &.activated
      color font_color
      background-image none
      background-color highlight
      border-color highlight_back
      &:hover
        background-image none
        background-color highlight_back
        border-color highlight_back

.action-panel
  &-loading
  &-error
    color font_color
