/* youtube_playlists.styl
   Part of the exwm cyan style

   Author: Tristan Maat <tm@tlater.net>
*/
@require 'colors'

#pl-header
  .pl-header-title
    color font_color

  .pl-header-details
    color font_color_back
    &::before
      border-left none !important
    a
      color font_color_back
      &:hover
        color font_color

.pl-video
  border-bottom 1px solid back

  &-index:before
  & &-time
    color font_color_back

  &-title-link
    color font_color

  &-owner
    &
    a
      color font_color_back

  &:hover
    .pl-video-list-editable & .pl-video-handle
      background highlight_back
      border-color back

    .pl-video-title-link
      color font_color

    .pl-video-owner a
      color font_color
