/* youtube_subscriptions.styl
   Part of the exwm cyan style

   Author: Tristan Maat <tm@tlater.net>
*/
@require 'colors'

/* Feed header */
.feed-header
  border-bottom 1px solid highlight_back
  .feed-manage-link
    &:hover
      color font_color_back

/* Boxes */
.branded-page-box
  .section-list li .item-section &
    border-bottom 1px solid highlight_back

.branded-page-module-title
  a
    &
    &:visited
      color font_color

// Video description
.yt-ui-ellipsis
  background-color transparent

.yt-lockup
  &
  .yt-lockup-meta a
  .yt-lockup-description a
  .yt-lockup-byline a
    color font_color_back
  &
  &-title
    &
    &:hover
      a
        color font_color
  &:hover
    .yt-lockup-meta
    .yt-lockup-description
      a
        color font_color

/* Sidebox channels */
.branded-page-related-channels h3
.branded-page-v2-secondary-col .branded-page-related-channels-see-more
  &
  a
    color font_color_back
    &:hover
      color font_color
      text-decoration underline

.yt-uix-button-subscribe-unbranded
  background-color highlight
  border 1px solid highlight_back
  &:hover
    background-color highlight_back
    border-color highlight_back
  &[disabled]
    &
    &:hover
    &:active
    &:focus
      background-color highlight
      border 1px solid highlight_back

.yt-uix-button-icon
  recolor_black_png(100%)
