/* youtube_comments.styl
   Part of the exwm cyan style

   Author: Tristan Maat <tm@tlater.net>
*/
@require "colors"

// Comment input box
.comment-simplebox
  background-color transparent

  &-renderer
    border-bottom none

    &-collapsed-content
      border-color highlight_back
      color font_color

  &-arrow
    .arrow-inner
      display none
    .arrow-outer
      border-top-color highlight_back
      border-right-color highlight_back

// Comment thread
.comment-thread-renderer
  &
  a
    color font_color
    background-color highlight

.display-message
  color font_color

.comment-replies-renderer
  &-view
  &-hide
    color font_color

.comment-renderer
  &-content
    .comment-renderer-header
      .comment-author-text
        color font_color
        font-weight bold
        background-color transparent
        &:hover
          text-decoration underline
      .comment-renderer-time
        a
          color font_color_back

    .channel-owner .comment-header .user-name
      background-color highlight_back

    .comment-text
      .comment-text-content
        color font_color

    .comment-footer-action
    .separator
      color font_color

    .sprite_like
    .sprite_dislike
      recolor_black_png 100%

    .sprite_dislike_on
      -webkit-filter invert(100%) sepia(100%) saturate(200%) hue-rotate(-15deg) brightness(85%)

    .sprite_caret
      -webkit-filter invert(100%) sepia(100%) saturate(500%) hue-rotate(168deg) brightness(85%)

    .feedback-banner
      background-color highlight_back
      border-color highlight_back

    .paginator
      &
      &.activated
        color font_color
        background-image none
        background-color highlight
        border-color highlight_back
        &:hover
          background-image none
          background-color highlight_back
          border-color highlight_back

    b
      color font_visited
      font-weight bold

.action-panel
  &-loading
  &-error
    color font_color

// Read more overlay
.comment-text.long
  .comment-text-toggle
    height 100px
    position absolute
    width 100%
    bottom 26px
    background -webkit-linear-gradient(top, transparent 0%, highlight 85%)

    .reply &
      width 87%

    a
      bottom 0
      position absolute

  &.expanded
    .comment-text-toggle
      height auto
      position initial
      display inline
      background transparent
      bottom 0

      a
        position initial

// Comment menu dropdown button
.sprite_dropdown
  recolor_gray_png 100%

  .comments &
    width 14px
    height 15px

// Other comment pages
.comment-section-header-renderer
  color font_color