/* youtube_history.styl
   Part of the exwm cyan style

   Author: Tristan Maat <tm@tlater.net>
*/
@require "colors"
.branded-page-v2-subnav-container
  border-bottom 2px solid highlight_back

#browse-items-primary .item-section>li>.yt-lockup-tile
  border-bottom 2px solid highlight_back

.search-history-item
  &:hover
    .feed-item-time
      color font_visited
  .feed-item-time
    color font_color_back
