/* youtube_channel.styl
   Part of the exwm cyan style

   Author: Tristan Maat <tm@tlater.net>
*/
@require "colors"

/* Header */
.branded-page-base-bold-titles
  &
  .branded-page-module-title
  / .channel-header .branded-page-header-title .branded-page-header-title-link
    color font_color

#circled-user-profiles-right
  color font_color_back

#c4-header-bg-container
  border-bottom 2px solid highlight_back

/* Front video display */
.lohp-video
  &-link
    color font_color
  &-metadata
    color font_color_back
    .view-count
      color font_visited

.feed-item-container
  &:hover
    .feed-item-header a
    a.yt-user-name
      color font_color

/* The border under all non-first video lists */
#browse-items-primary
  .item-section>li>
    &.yt-lockup-tile
    &.multirow-shelf
    /.compact-shelf.branded-page-box
      border-bottom 2px solid highlight_back

// .section-list li .item-section .branded-page-box


/* The border under the first video of each video list */
.branded-page-v2-primary-col
  .branded-page-box:last-child
    &.video-player-view-component
    &.c4-featured-content
    &.c4-featured-content-editor
    &.welcome
    ~/ .branded-page-box
    /.section-list li .item-section .branded-page-box
      border-bottom 2px solid highlight_back

.yt-uix-expander-ellipsis
  background-color highlight

.video-player-view-component
  color font_color
  .view-count .count
    color font_visited
  .video-detail a
    color accent

/* Playlists */
.yt-lockup-playlist-item
  border-bottom 2px solid highlight_back

/* Channels */
.yt-badge
  color font_color
  border 1px solid highlight_back

/* Discussion (is an iframe...) */
// iframe background
body.kv8eNc.Mb
  background-color highlight

// All comments text
.DJa
  background-color highlight
  color font_color

// Comment input
.mj
.BJa
  background-color highlight

// Comment background color
.yJa
  background-color transparent

// Comment name
.Ub
// Comment reply name
.via .TD
// Comment text
.dn
// Comment reply text
.Aq
// Separator
.SOa
  color font_color

// Reply button
.K5
  color font_color
  opacity .75
  &:hover
    color font_color
    opacity 1

// Like/dislike button
Ja
  .M&
  .L&
    recolor_black_png 100%
    &.JMc
      -webkit-filter brightness(150%)
// Like counter
.bmd
  color accent

// Time since comment
.Rg
// Reply time since comment
.Jj
  &
  &.o-U-s
    color font_color_back

// Time since comment hover
.ve.oba
  .o-U-s:hover
  .d-s:hover
    color font_color_back

// Translate button
.uh.d-s
// Read more button
.dp.d-s
  color font_color_back
  .Xa.va &
    color font_visited

// Comment view more
.vy
// Comment link
.Xa .ot-anchor
  color accent

// Profile link (+TheTLATER etc.)
.proflink
.proflinkPrefix
  // Normal
  &
  /.ot-hashtag
    color font_color_back

  //Hovering
  .g9 .Xa.va &
    color accent

/* About */
.about
  &-stats &-stat
  &-metadata-container
    color font_color
  &-metadata-label-border-top
    border-top 2px solid highlight_back