Xft.dpi: 90
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
Xcursor.theme: pixelfun3
Xcursor.size: 32

XTerm*foreground: rgb:fa/fa/fa
XTerm*background: rgb:0f/0f/0f
XTerm*faceName: DejaVu Sans Mono

XTerm*metaSendsEscape: true

! [modified] Solarized color scheme for the X Window System
!
! http://ethanschoonover.com/solarized

*foreground:              #8cf3ff
*fading:                  40
*fadeColor:               #002b36
*cursorColor:             #0d9ed3
*pointerColorBackground:  #586e75
*pointerColorForeground:  #0d9ed3

*color0:                  #073642
*color1:                  #dc322f
*color2:                  #2aa889
*color3:                  #b58900
*color4:                  #268bd2
*color5:                  #707880
*color6:                  cyan
*color7:                  #eee8d5
*color8:                  #002b36
*color9:                  #cb4b16
*color10:                 #586e75
*color11:                 #70bcd8
*color12:                 #8cf3ff
*color13:                 #6c71c4
*color14:                 cyan
*color15:                 #fdf6e3
