Xft.dpi: 180
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
Xcursor.theme: pixelfun3
Xcursor.size: 64

XTerm*foreground:   rgb:fa/fa/fa
XTerm*background:   rgb:15/15/15
XTerm*faceName:     DejaVu Sans Mono:pixelsize=32

XTerm*metaSendsEscape: true

! [modified] Solarized color scheme for the X Window System
!
! http://ethanschoonover.com/solarized


! Common

#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
!#define S_magenta       #d33682
#define S_magenta       #707880
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          cyan
#define S_green         #2aa889

! Dark

#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
!#define S_base00        #657b83
#define S_base00        #70bcd8
!#define S_base0         #839496
#define S_base0         #8cf3ff
#define S_base1         #0d9ed3
!#define S_base1         #268BD2
!#define S_base1         #0c4980
#define S_base2         #eee8d5
#define S_base3         #fdf6e3

*foreground:              S_base0
*fading:                  40
*fadeColor:               S_base03
*cursorColor:             S_base1
*pointerColorBackground:  S_base01
*pointerColorForeground:  S_base1

*color0:                  S_base02
*color1:                  S_red
*color2:                  S_green
*color3:                  S_yellow
*color4:                  S_blue
*color5:                  S_magenta
*color6:                  S_cyan
*color7:                  S_base2
*color8:                  S_base03
*color9:                  S_orange
*color10:                 S_base01
*color11:                 S_base00
*color12:                 S_base0
*color13:                 S_violet
*color14:                 cyan
*color15:                 S_base3
