[Unit]
Description=Emacs daemon
Documentation=man:emacs

[Service]
Type=forking
ExecStart=/usr/bin/emacs --daemon
ExecStop=/usr/bin/emacsclient --eval "(kill-emacs)"
TimeoutStartSec=0
Restart=always

[Install]
WantedBy=default.target
