[Unit]
Description=Text-aid-too daemon
Documentation=https://github.com/smblott-github/text-aid-too#text-aid-too

[Service]
Type=simple
#Environment=;P
Environment="TEXT_AID_TOO_EDITOR=emacsclient"
ExecStart=/usr/bin/text-aid-too --markdown
Restart=always

[Install]
WantedBy=default.target
